/* abstracts */
@import
	'abstracts/variables',
	'node_modules/uikit/src/scss/variables-theme';

/* layout */
@import
	'layouts/default';

/* components */
@import
	'components/vue/MenuOpener',
	'components/vue/TaskControlDatePicker',
	'components/vue/TaskList',
	'components/vue/TaskControlButton',
	'components/vue/TaskListHeader',
	'components/vue/TaskListItem',
	'components/vue/TaskListItemChrono';

/* pages */
.ES-content > .uk-flex {
    height: 100%;
	overflow: hidden;
	
	& > :first-child {
		flex: 0 0 auto;
	}

	& > :last-child {
		flex: 1 1 100%;
		overflow: auto;
	}
}