$global-danger-background : #f0506e;
$global-z-index: 1000;

$button-danger-background: transparent;
$button-danger-color: $global-danger-background;
$button-danger-hover-color: darken($button-danger-color, 20%);
$button-danger-active-color: darken($button-danger-color, 30%);

$dropdown-min-width: 250px;

$offcanvas-z-index: $global-z-index + 200;