
<!doctype {{ES.doctype}}>
<html lang="{{ES.lang}}">
	<head>
		{% include "layouts/_head.njk" %}
	</head>
	<body class="ES-layout-main ES-loading">

		<div class="ES-loader uk-position-cover uk-background-muted uk-flex uk-flex-center uk-flex-middle">
			{% block loader %}
				<h1 class="uk-heading-medium uk-text-primary uk-margin-remove">{{ES.meta.title}}</h1>
			{% endblock %}
		</div>

		<div class="ES-wrap uk-flex uk-flex-column">
			<section class="ES-navbar ES-app-drag uk-navbar-container" uk-navbar>
				<div class="ES-app-no-drag uk-navbar-left">
					{% block navbar_left %}
						<div class="uk-padding-small uk-text-primary">
							{{ES.meta.title}}
						</div>
					{% endblock %}
				</div>
				<div class="ES-app-no-drag uk-navbar-center">
					{% block navbar_center %}{% endblock %}
				</div>
				<div class="ES-app-no-drag uk-navbar-right">
					{% block navbar_right %}
						<window-control></window-control>
					{% endblock %}
				</div>
			</section>

			<section class="ES-content">
				{% block content %}{% endblock %}
			</section>
		</div>
		
	</body>
</html>