.v-taskListItem {

    &__header {
        position: sticky;
        top: 0;
        z-index: $global-z-index - 20;
        box-shadow: 20px 0px 0 0 $global-background, 0 1px 0 0 $global-border;

        & h5 {
            line-height: inherit;
        }
    }

    &__listHour > :last-child &__add {
        display: none;
    }
}