.v-taskListItem {

    &__header {
        position: sticky;
        top: 0;
        z-index: 90;
        box-shadow: 0 1px 0 0 $global-border;

        & h5 {
            line-height: inherit;
        }
    }

    &__content > :last-child &__addChrono {
        display: none;
    }
}