.v-taskList {

    &Column {

        display: inline-block;
        vertical-align: top;
        width: $width-small-width * 1.5;
        
        &__row {
            box-sizing: border-box;
            height: $height-small-height;
            border-top: 1px solid $global-border;

            &:last-child {
                height: auto;
            }
        }
    }
}