.v-taskListItemChrono {

    cursor: pointer;
    border-radius: 5px;
    background-color: $alert-success-background;
    border: 1px solid $alert-success-color;
    overflow: hidden;
    white-space: normal !important;
    opacity: 0.8;
    transition: opacity $transition-duration ease, transform $transition-duration ease;

    &.--isRunning {
        background-color: $alert-primary-background;
        border-color: $alert-primary-color;
    }

    &:hover {
        opacity: 0.9;
        transform: translateX(20px);
    }
}