.v-taskListItemChrono {
    border-radius: 5px;
    background-color: $alert-primary-background;
    border: 1px solid $alert-primary-color;
    overflow: hidden;
    white-space: normal !important;
}