<!-- Extension du Layout --> 
{% extends 'layouts/default.njk' %}
{% block loader %}
    <h1 class="uk-heading-medium uk-text-primary uk-margin-remove">
        {{ES.meta.title}}
    </h1>
{% endblock %}

{% block navbar_left %}
    {# OffCanvas deleted
        <menu-opener :s-window-title="sWindowTitle">{{ES.meta.title}}</menu-opener>
    #}
    <menu-tab
        :s-selected-menu="sSelectedMenu"
        :o-menu="oMenu"
    >
        {{ES.meta.title}}
    </menu-tab>
{% endblock %}

{% block content %}
    {# OffCanvas deleted
        <menu-offcanvas
            :s-selected-menu="sSelectedMenu"
            :o-menu="oMenu"
        >
            {{ES.meta.title}}
        </menu-offcanvas>
    #}
    <component
        :is="sSelectedMenu"
    ></component>
    <task-modal></task-modal>
{% endblock %}