<!-- Extension du Layout --> 
{% extends 'layouts/default.njk' %}
{% block loader %}
    <h1 class="uk-heading-xlarge uk-text-primary uk-margin-remove">
        <span class="uk-margin-right" uk-icon="icon: history; ratio: 3.8"></span>
        {{ES.meta.title}}
    </h1>
{% endblock %}

{% block navbar_left %}
    <div class="uk-padding-small uk-text-primary">
        <span class="uk-margin-small-right" uk-icon="history"></span>
        {{ES.meta.title}}
    </div>
{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-column">
        <task-control :d-date="dDate" :o-def-task="oDefTask"></task-control>
        <task-list :d-date="dDate" :o-def-task="oDefTask"></task-list>
    </div>
{% endblock %}