html, body {
    height: 100%;
    overflow: hidden;
}

/* APP */
.ES-app-drag {
    -webkit-app-region: drag;
}

.ES-app-no-drag {
    -webkit-app-region: no-drag;
}

/* Loading */
.ES-loader {
    transition: opacity 1s ease, z-index 1.5s ease;
    z-index: -$global-z-index;
    opacity: 0;
}

.ES-loading .ES-loader {
    z-index: $global-z-index * 2;
    opacity: 1;
}

/* Wrap */
.ES-wrap {
    height: 100%;
    overflow: hidden;
}

.ES-wrap > :first-child {
    flex: 0 0 auto;
}

.ES-wrap > :last-child {
    flex: 1 1 100%;
    overflow: auto;
}

/* Navbar */
.ES-navbar {
    z-index: $global-z-index + 100;
}

.ES-navbar .uk-navbar-item {
    min-height: auto;
}